body {
  margin: 0px;
}

.header {
  background-color: rgb(157, 228, 95);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.form input {
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 10px;
}

.form select {
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 10px;
}

.form button {
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background-color: rgb(24, 115, 194);
}

.packing{
  padding: 15px;

  background-color: rgb(230, 93, 93);
}
.packing ul{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.packing ul li {
  gap: 10px;
  font-size: x-large;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.packing ul li input {
  scale: 1.2;
} 
.footer{
  background-color: rgb(240, 227, 85);
  text-align: center;
}